<div class="auth-container">
  <%= form_with(url: session_path, method: :post, scope: :user, class: "auth-form wrapper") do |f| %>
    <div class="form-heading">
      <%= render "shared/logo" %>
      <h1>Welcome Back</h1>
      <p>Sign in to your RealBid account</p>
    </div>
    <%= f.label :email %>
    <%= f.email_field :email,
                      autofocus: true,
                      required: true,
                      placeholder: "your@email.com" %>

    <%= f.label :password %>
    <%= f.password_field :password, required: true, placeholder: "********" %>

    <button type="submit" class="submit-button">
      Log in
    </button>

    <p class="form-link">
      Don't have an account?
      <span class="link">
        <%= link_to "Sign up", signup_path %>
      </span>
    </p>
  <% end %>
</div>