<div class="bid-info-container"
     id="<%= dom_id(bid) %>">

  <div class="bid-info">
    <% if bid.user.profile_image.attached? %>
      <div class="bid-user-profile-image">
        <%= profile_image(bid.user) %>
      </div>
    <% end %>
    <div>
      <p style="font-weight: bold; font-size: 16px; color: #261B23">
        <%= bid.user.name %>
      </p>
      <p>
        <em>(<%= time_ago_in_words(bid.created_at) %> ago)</em>
      </p>
    </div>
    <i class="fa-solid fa-minus"></i>
    <p class="bid-amount">
      <i class="fa-solid fa-coins"></i>
      <%= bid.amount %>
    </p>
  </div>


  <% if bid.user != current_user && bid.product.active? %>
    <%= button_to end_auction_product_path(bid.product),
                  method: :post,
                  data: { turbo_confirm: "End auction now?" },
                  class: "bid-button flex items-center justify-center p-2 rounded-full bg-red-600 hover:bg-red-700 text-white",
                  title: "Sell" do %>
      <i class="fa-solid fa-money-bill-trend-up"></i>
    <% end %>
  <% end %>
</div>


