<%= form_with(model: @user, url: update_password_path, method: :patch, data: { turbo_stream: true }, class: "profile-form-container wrapper") do |f| %>

  <%= f.label :current_password %>
  <%= f.password_field :current_password, placeholder: "Current password" %>

  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "********" %>

  <%= f.label :password_confirmation, "Confirmation Password" %>
  <%= f.password_field :password_confirmation, placeholder: "********" %>


  <button type="submit" class="submit-button">
    Update Password
  </button>


<% end %>
