<div class="profile-container">
  <div class="main-profile wrapper">
    <div class="profile">
      <div class="profile-info">
        <div class="profile-image">
          <%= profile_image(@user) %>
        </div>

        <div>
          <h1><%= @user.name %></h1>
          <p><%= @user.email %></p>
        </div>

      </div>

      <div class="wallet">
        <div class="wallet-balance wallet-coins">
     <span class="amount">
       <%= @user.wallet_balance %>
       <i class="fa-solid fa-coins"></i>
     </span>
          <p>Coins Available</p>
        </div>

        <div class="wallet-balance wallet-money">
     <span class="money">
       <%= number_to_currency(@user.my_balance, unit: "$") %>
     </span>
          <p>Wallet Balance</p>
        </div>
      </div>


    </div>
    <%= render "update-profile" %>
  </div>

  <%= render "buy-coins" %>

  <div class="profile-info-container">
    <%= render "update-password" %>

    <ul class="info-container wrapper">
      <h2>Additional Information</h2>
      <li>
        <strong>Country</strong>: <%= @user.country || "-" %>
      </li>
      <li>
        <strong>City</strong>: <%= @user.city || "-" %>
      </li>
      <li>
        <strong>Address</strong>: <%= @user.address || "-" %>
      </li>
      <li>
        <strong>Postal Code</strong>: <%= @user.postal_code || "-" %>
      </li>
      <li>
        <strong>Phone Number</strong> <%= @user.phone_number || "-" %>
      </li>
      <%= render "update_user_info" %>
    </ul>
  </div>


  <%= render "delete-account" %>
</div>









