<div class="product-wrapper" id="product_<%= product.id %>_show">

  <div class="product-info-wrapper">
    <%= render "products/return-back" %>

    <% if product.product_image.attached? %>
      <%= image_tag url_for(product.product_image), class: "single-product-image" %>
    <% end %>
  </div>


  <div class="product-info-wrapper">
    <div id="auction_status_<%= product.id %>">
      <% if product.auction_ended? || product.ended? %>
        <span class="product-sold">Sold Out</span>
      <% else %>
        <span class="product-active">Active Auction — <%= product.time_left %> </span>
      <% end %>
    </div>

    <h1><%= product.title %></h1>
    <div class="wrapper">
      <p class="product-description">
        <%= product.description %>
      </p>
    </div>
    <div class="wrapper seller-info-wrapper">
      <% if product.user.profile_image.attached? %>
        <div class="profile-image">
          <%= profile_image(product.user) %>
        </div>
      <% end %>
      <div class="seller-info">
        <p style="font-size: 18px; font-weight: 500">Seller</p>
        <p style="font-size: 24px; font-weight: bold; color: #261B23"> <%= product.user.name %></p>
      </div>
    </div>

    <div class="product-info wrapper">
      <p>Current Bid</p>
      <p class="price">
        <i class="fa-solid fa-coins"></i>
        <%= product.starting_bid %>
      </p>
      <div style="display:flex; justify-content: space-between;margin-bottom: 16px;">

        <p>

          <i class="fa-solid fa-clock"></i>
          <%= product.auction_ended? ? "ended" : product.time_left %>
        </p>
        <p>
          <i class="fa-solid fa-coins"></i>
          <%= pluralize(product.bids.count, "bid") %>
        </p>
      </div>
      <% if product.auction_ended? %>
        <p style="text-align: center; color: #a70000; font-size: 22px;font-weight: bold">
          Sold Out
        </p>
      <% else %>

        <%= render "bids/place-a-bid", product: product %>
      <% end %>


    </div>

    <div id="bids" class="wrapper user-bids-wrapper">
      <%= turbo_stream_from "bids" %>
      <% if @bids.present? %>
        <%= render @bids %>
      <% else %>
        <p>No bids yet!</p>
      <% end %>
    </div>
  </div>
</div>