<header class="nav-header">
  <nav class="navbar">
    <div class="nav-logo">
      <%= render "shared/logo" %>
      <h1>
        RealBid
      </h1>
    </div>

    <ul class="nav-menu">
      <li class="nav-list"><%= nav_link_to "Products", "#" %></li>

      <li class="nav-list"><%= nav_link_to "My Auctions", "#" %></li>
      <li class="nav-list"><%= nav_link_to "Add Product", "#" %></li>
      <li class="nav-list"><%= nav_link_to "Profile", profile_path %></li>
      <li>
        <%= link_to "Logout", logout_path,
                    data: { turbo_method: :delete },
                    class: "logout-button" %>
      </li>

    </ul>
  </nav>
</header>
